footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 10px;
  border: 1px solid #eaeaea;
  padding-bottom: 30px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-block img {
  width: 30px;
  margin: 5px;
  transition: 0.2s ease-in-out;
}

.footer-icons {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons:hover img {
  transform: translateY(-5px);
}
